@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400, 700");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html,
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  display: flex;
  list-style: none; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/capa-madmax2.jpg");
  background-size: cover; }
  .header__container {
    max-width: 998px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    height: 100vh; }
  .header__navbar {
    display: flex;
    justify-content: space-between;
    background-color: orange; }
  .header__logo {
    width: 100px;
    height: 50px; }
  .header__link {
    margin-top: 20px;
    color: #ffffff;
    font-weight: 700; }
  .header__user {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__user img {
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: black; }
