.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/capa-madmax2.jpg");
  background-size: cover;
  background-attachment: fixed;

  &__container {
    @include container;
    height: 100vh;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 100px;
    height: 50px;
    margin-top: 20px;
  }

  &__list {
    margin-top: 30px;
  }

  &__link {
    padding: 0 10px;
    color: $white;
    font-size: 1.4rem;
    font-weight: $bold;

    &:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.7;
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: $bold;
    color: $white;

    img {
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  &__content {
    height: 85vh;
    // background-color: orange;
  }

  &__title {
    max-width: 800px;
    padding-top: 230px;
    font-size: 5rem;
    font-weight: $bold;
    text-transform: uppercase;
    color: $white;
  }

  &__description {
    margin: 10px 0 20px 0;
    color: $white;
  }

  &__button {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    background-color: $destaque;
    cursor: pointer;

    &:hover {
      transition: 0.3s ease-in-out;
      background-color: $white;
    }

    & span {
      font-size: 1.2rem;
      font-weight: $bold;
      padding-right: 10px;
    }
  }

  &__cine {
    margin: 20px 0 10px 0;
    color: $white;
  }

  &__estreia {
    color: $destaque;
  }
}
